body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 95vh;
    width: 95vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FF8E00;
}

.titulo{
    text-align: center;
    background-color: black;
    color: orange;
}

